@import '../../../../../styles/variables.less';

.noPoolCard {
  padding: 2rem;
  text-align: center;
}

.noPoolIcon {
  margin-left: auto;
  margin-right: auto;
  width: 3rem;
  height: 3rem;
  color: var(--muted-text);
  margin-bottom: 1rem;
}

.noPoolTitle {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.noPoolText {
  color: var(--muted-text);
  margin-bottom: 1rem;
}

.emptyCard {
  padding: 2rem;
  text-align: center;
  color: var(--muted-text);
}

.noMatch {
  padding: 2rem;
  text-align: center;
  color: var(--muted-text);
}
