@import '../../../../../styles/variables.less';

.pagination {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.paginationText {
  font-size: 0.875rem;
  color: var(--muted-text);
}

.paginationDisabled {
  pointer-events: none;
  opacity: 0.5;
}

.paginationEllipsis {
  cursor: default;
}
