@import '../../../../../styles/variables.less';

.selectorCard {
  margin-bottom: 1.5rem;
}

.selectorContent {
  padding: 1rem;
}

.selectorRow {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.selectorLabel {
  font-size: 0.875rem;
  font-weight: 500;
}

.selectTrigger {
  width: 300px;
}
