@import '../../../../../styles/variables.less';

.errorCardContent {
  padding: 2rem;
  text-align: center;
}

.errorIcon {
  width: 2rem;
  height: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  color: var(--destructive-bg);
}

.errorText {
  color: var(--destructive-bg);
  margin-bottom: 1rem;
}
