@Element_Color1: #0b111e;
@Element_Color2: #0f1729;
@Element_Color3: #222f44;
@Element_Color4: #0f1729;
@Element_Color5: #080c16;
@Element_Color6: #1d283a;
@Element_Color7: #FF3366;
@Element_Color8: #1f2937;
@Element_Color9: #6B6F79;
@Element_Color10: #F9F9F9;
@Element_Color11: #999999;
@Element_Color12: #14b8a5;
@Element_Color13: #363A45;
@Element_Color14: #0E0E0E;
@Element_Color15: #f59f0a;
@Element_Color16: #dc2828;
@Element_Color17: #21c45d;
@Element_Color18: #FFFC00;
@Element_Color19: #438CFA;
@Element_Color20: #16171A;
@Element_Color21: #18212f;
@Element_Color22: #787B80;
@Element_Color23: #232A35;

@Text_Color1: #14b8a5;
@Text_Color2: #f1f5f9;
@Text_Color3: #7588a3;
@Text_Color4: #0b111e;
@Text_Color5: #999999;
@Text_Color6: #444444;
@Text_Color7: #18C31E;
@Text_Color8: #dc2828;
@Text_Color9: #3F48CC;
@Text_Color10: #00DDE6;

@is-dark-theme: true;



// ------- Dark palette END -----

// Operator palette override (must be at the END to allow operator overrides)
@import (optional) '../../operator/styles/palette.less';