/* Design tokens only. */
.separator {
  flex-shrink: 0;
  background: var(--border-color);

  &.horizontal {
    height: 1px;
    width: 100%;
  }

  &.vertical {
    width: 1px;
    height: 100%;
  }
}
